.cabecera .barra-nav{
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-between;
  
}
.barra-nav-titulo{
    display: flex;

}
.titulo-nav{
    color: bisque;
    font-size: 1.2rem;
    text-align: center;
    margin: .7rem;
}
.titulo-nav:hover{
    border-bottom: 4px solid white;
}